---
// src/pages/blog/index.astro
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="min-h-screen flex items-center justify-center bg-cream">
    <div class="text-center">
      <h1 class="text-4xl font-light text-sage mb-4">Blog</h1>
      <p class="text-charcoal">Coming Soon</p>
    </div>
  </div>
</Layout>
